* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.section-header {
    color: transparent;
}

.nav-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.nav-header.sticky {
    background-color: #0082e6;
}


.nav-header {
    /* height: 80px; */
    height: auto;
    width: 100%;
    position: fixed;
    background: transparent;
    transition: background-color 0.3s ease-in-out;
}




#label-header.logo {
    color: black;
    font-size: 35px;

    line-height: 80px;
    margin-left: 31px;
    /* padding: 0 100px; */
    /* padding: 30px; */
    padding: 10px;
    font-weight: bold;
}



.nav-header .ul-header {
    float: right;
    margin-right: 20px;
}

.nav-header .ul-header .li-header {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav-header .ul-header .li-header #a-header {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

#a-header:hover {
    background: #1b9bff;
    transition: .5s;
}


.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


@media (max-width: 952px) {
    #label-header.logo {
        font-size: 24px;
        /* padding-left: 50px; */
    }

    .nav-header .ul-header .li-header #a-header {
        font-size: 16px;
    }
}


@media (max-width: 1091px) {

    .checkbtn {
        display: block;
    }

    .ul-header {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .nav-header .ul-header .li-header {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .nav-header .ul-header .li-header #a-header {
        font-size: 20px;
    }

    #a-header:hover,
    #a-header.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~.ul-header {
        left: 0;
    }
}

.section-header {
    background: url(../assets/img-assets/front.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}