.medelande {

    font-size: 2rem;
    border: solid red;
}

.times {
    background-color: bisque;
    height: auto;
}

.pole {
    height: 100px;
    margin-top: 10px;
    left: -10;
}

@media (max-width: 952px) {
    .pole {
        height: 100px;
    }
}